.close-button {
    color: rgb(0, 0, 0);
    transition: color 0.4s ease, transform 0.4s ease;
    &:hover {
        color: rgb(232, 202, 5);
        transform: rotate(180deg); 
    }
}

.delete {
    color: black;
    font-size: 16px;
    margin-left: 10px;
    transition: color 0.4s ease;

    &:hover {
        color: rgb(232, 202, 5);
    }
}

.checkout-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;

    &:hover {
        color: rgb(232, 202, 5);
        background-color: rgb(0, 0, 0);
        text-decoration: underline;
    }
}